html
body{
    margin: 0;
    padding: 0;
    font-family: 'PingRe';
}

@font-face {
    font-family: "PingRe";
    src: url("./font/PingFang Regular.ttf")
}

@font-face {
    font-family: "kaiti";
    src: url("./font/kaiti.ttf")
}

@font-face {
    font-family: "longmenshibei";
    src: url("./font/shouzha.ttf")
}

.__view {
    height: 100%;
    width: 100%;
    /*max-width: 100%;*/
}

